/* Fonts */

@font-face {
    font-family: 'english';
    src: url(fonts/imfellenglish-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'messiri';
    src: url(fonts/elmessiri-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}