/* Fonts */

@font-face {
    font-family: 'english';
    src: url(fonts/IMFellEnglish-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'number';
    src: url(fonts/ElMessiri-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}