.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 84.375rem;
    min-height: 85vh;
    margin: auto;
    gap: 5rem;
    padding: 3rem 1rem;
}