.nav {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    &__lnk {
        font-size: 1.5rem;
        transition: all 0.25s ease-in-out;

        &:hover {
            text-shadow: 0 0 10px #08ceff, 0 0 12px #08ceff;
        }
    }
}